@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {

  --font--sans : "Roboto Condensed", sans-serif;

  --font-BebasNeue : "Bebas Neue", sans-serif;
  --font-Zalando : "Zalando Sans Expanded", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}